

<h3>Nueva Cita</h3>
<div class="container">
	<div class="row">
		<form action="" method="POST">
			{% csrf_token %}
			
			<div class="panel-body">
				
				{{form.as_p}}

			</div>
				
			<tr>
				<button type="submit" class="btn btn-success" style="color:white; background-color:#33CC00">Aceptar</button>
   			</div>
   			<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#f6685e;color:white" onclick="return cerrar_modal()">
                                                Cancelar
            </button>
        </tr>
		</form>
	</div>
</div>


</div>
<div id="popup">

</div>
<script>
var modal;

//<!--Para el  datepicker-->
$(function(){
	$(".datepicker").datepicker({
		changeYear: true,
		changeMonth: true,
		yearRange: "1900:3000",
	});
});


function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 900,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>


