{% extends 'base/base.html'%}

{% block title %} Crear Cita {% endblock %}

{% block encabezado %} Crear Cita {% endblock %}
{% block content %}
<h3>Nueva Cita</h3>



<form method="POST" >
	
	{% csrf_token %}
	{{ form.as_p }}



	<button type="submit" onchange="pasar()" class="btn btn-success" style="color:white; background-color:#33CC00">Aceptar</button>

</form>
===========================================================================================================




</div>
<div id="popup">

</div>
	<script>
var modal;

function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 600,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>


{% endblock %}