{% extends 'base/base.html'%}

{% block title %} Citas para hoy {% endblock %}

{% block encabezado %} Citas para hoy {% endblock %}
{% block content %}

<br>
<div><h3>Aqui puede ver las citas de este dia</h3></div><br>
	<div><a href="{% url 'citasyconsultas:gestion_cita' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Regresar a Todas las Citas</a></div>
<br><br>


<div class="row text-center">

<table  class="table ">
		<tr style="text-align: center">
			<th style="text-align: center">Numero de cita</th>


			<th style="text-align: center">Ver Cita</th>
		
			
			
		</tr>
	{%if citas %}
		{% for cit in citas %}
					<tr>
						<td>{{cit.numCit}}</td>

						<td style="text-align:center;">
							<a href="#" onclick="return abrir_modal('{% url 'citasyconsultas:verCita' cit.pk %}', 'Ver Cita Numero: -->> {{ cit.numCit }}')" class="btn"><span class="glyphicon glyphicon-pencil">Ver Cita</a>
							</td>

					</tr>
		{% endfor %}
	

	</table>
	{% else%}
	<div><h2>No hay citas para hoy</h2></div>
	{% endif %}
</div>
</div>
<div id="popup">

</div>
	<script>
var modal;

function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 600,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>


{% endblock %}