{% extends 'base/base.html'%}

{% block title %} Consultas Pendientes {% endblock %}

{% block encabezado %} Consultas Pendientes {% endblock %}
{% block content %}
<div class="row text-center">
	<table  class="table table-sm">
		<tr style="text-align: center">
			<th style="text-align: center">Gestion Medicamento</th>
			<th style="text-align: center">Gestion Servicio</th>
			
		</tr>
		
					<tr>
						
						<td style="text-align:center;">
							<a href="{% url 'citasyconsultas:ir_a_medicamento' %}" class="btn btn-success" style="color:white; background-color:#33CC00">Gestion Medicamento</a>
							</td>
						<td style="text-align:center;">
							<a href="{% url 'citasyconsultas:ir_a_servicio' %}" class="btn btn-success" style="color:white; background-color:#33CC00">Gestion Servicio</a>
								</td>
					</tr>
	</table>
</div>
<br><br><br>

<h3>Aqui puede completar los datos de las consultas pendientes para darlas por terminadas</h3>

<br><br><br>
<div class="row text-center">
<table  class="table ">
		<tr style="text-align: center">
			<th style="text-align: center">Nombre del paciente</th>
			
			<th style="text-align: center">Terminar la consulta</th>
			
			
		</tr>
	{%if consultas %}
		{% for con in consultas %}
					<tr>
						<td>{{con.paciente.nomPaciente}}</td>
						
						<td style="text-align:center;">
							<a onclick="return abrir_modal('{% url 'citasyconsultas:modificar_consulta' con.pk %}', 'Terminar consulta al paciente: {{con.pacien.nomPaciente}}')" class="btn btn-success" style="color:white; background-color:#33CC00" value="Modificar consulta">Terminar Consulta</a>
						</td>
					</tr>
		{% endfor %}
	

	</table>
	{% else%}
	<div><h2>No hay consultas Pendientes</h2></div>
	{% endif %}
</div>
</div>
<div id="popup">

</div>
	<script>
var modal;

function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 600,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>


{% endblock %}