

<div >
        <div class="modal-content">
        {% if object %}
        <form id="expForm" action="{% url 'citasyconsultas:modificar_expediente' object.pk %}" method="post">
        {% else %}
        <form id="expForm" id="ExpedienteForm" action="{% url 'citasyconsultas:crear_expediente' %}" method="post" >
        {% endif %}
            <div class="modal-body">
                                {% csrf_token %}
    
                                        <div class="panel-body">
                                                {{ form.as_p }}
                                        </div>
                                </div>
                                        
                        <div class="modal-footer">
                                <div class="col-lg-12 text-right">
                                       <input type="submit" class="btn-success" name="submit" value="Guardar" 
                                       style="color:white; background-color: #33CC00">
                                       
                                       <a href="{% url 'citasyconsultas:listado_expediente' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Cancelar</a>

                                </div>
                        </div>
                </form>
        </div>
</div>

<script type="text/javascript">

    $(document).ready(function(){
        $("#id_depResidencia").on("change", getMunicipios);    
    });

    function getMunicipios(){
        var departamentoId = $("#id_depResidencia").val();
        if (departamentoId){
            $("#id_munResidencia").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'citasyconsultas:load_Municipio' %}",
                data: {
                    "depId":departamentoId
                },
            });
        request.done(function(response){
            $("#id_depResidencia").trigger("change")
        });
        }
    }

    //<!--Para el  datepicker-->
    $(function(){
        $(".datepicker").datepicker({
            monthNames: [ "Enero","Ferero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Dicimbre" ],
            monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ], 
            dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ], 
            dayNamesShort: [ "Dom", "Lun", "Mar", "Mie", "jue", "Vie", "Sab" ], 
            dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "jue", "Vie", "Sab"],
            dateFormat: "dd/mm/yy",
            changeYear: true,
            changeMonth: true,
            yearRange: "1900:3000",
        });
    });

</script>
