<div >
        <div class="modal-content">
        {% if object %}
        <form role="form" action="{% url 'citasyconsultas:modificar_expediente' object.pk %}" method="post">
        {% else %}
        <form role="form" id="ExpedienteForm" action="{% url 'citasyconsultas:crear_expediente' %}" method="post" data-mun-url=" {% url 'citasyconsultas:load_mun' %}">
        {% endif %}
            <div class="modal-body">
                                {% csrf_token %}
    
                                        <div class="panel-body">
                                                {{ form.as_p }}
                                        </div>
                                </div>
                                        
                        <div class="modal-footer">
                                <div class="col-lg-12 text-right">
                                       <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" name="submit" value="Guardar">
                                        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#f6685e;color:white" onclick="return cerrar_modal()">
                                                Cancelar
                                        </button>
                                </div>
                        </div>
                </form>
        </div>
</div>

<script >
    //<!--Para el  datepicker-->
$(function(){
    $(".datepicker").datepicker({
        monthNames: [ "Enero","Ferero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Dicimbre" ],
        monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ], 
        dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ], 
        dayNamesShort: [ "Dom", "Lun", "Mar", "Mie", "jue", "Vie", "Sab" ], 
        dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "jue", "Vie", "Sab"],
        dateFormat: "dd/mm/yy",
        changeYear: true,
        changeMonth: true,
        yearRange: "1900:3000",
    });
});
>
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$("#depResidencia").change(function(){
    var url = $("#ExpedienteForm").attr("data-mun-url");
    var munId = $(this).val();
    $.ajax({
        url: url,
        data:{'depResidencia': depResidencia},
        success: function(data){
            $.(#"munResidencia").html(data);
        }
    });
});
</script>