<div class="modal-dialog modal-lg-4">
	<div class="modal-content">
		<form action=" {% url 'citasyconsultas:eliminar_servicio' object.pk %}" method="post">
             <div class="modal-body">
				{% csrf_token %}
				<div class="mdl-dialog__content" align="center">
					<h4> ¿Realmente desea eliminar este Servicio? </h4>
				</div>
			</div>
					<div class="modal-footer">
			                                <div class="col-lg-8 text-right"> 
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color:#f6685e;color:white" type="submit">Aceptar</button>
					 <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="return cerrar_modal()">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</form>