{% extends 'base/base.html'%}

{% block title %} Gestion de Expedientes {% endblock %}

{% block encabezado %} Gestion de Paciente {% endblock %}
{% block content %}


<h3>Control de Expedientes</h3><br>
<div><a href="{% url 'citasyconsultas:crear_expediente' %}" class="btn btn-success" style="color:white; background-color:#33CC00">Registrar Nuevo Paciente</a>
	</div><br>
	<div><a href="{% url 'citasyconsultas:gestion_cita' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Regresar a Todas las Citas</a></div><br>
<div class="container">
	<div class="row">
<br><br><br>
<div class="row text-center">
<table  class="table ">
		<tr style="text-align: center">
			<th style="text-align: center">No. Expediente</th>
			<th style="text-align: center">Paciente</th>
			
		</tr>
		{% for pac in expedientes %}
					<tr>
						<td>{{pac.numExpediente}}</td>
						<td>{{pac.apelPaciente}}, {{pac.nomPaciente}}</td>
						
						<td style="text-align:center;">
				
							<a href="{% url 'citasyconsultas:modificar_expediente' pac.pk %}" class="btn"><span class="glyphicon glyphicon-pencil">Editar</a>
						</td>
						<td style="text-align:center;">
							<a href="#" onclick="return abrir_modal('{% url 'citasyconsultas:ver_expediente' pac.pk %}', 'Detalle del Expediente')" class="btn"><span class="glyphicon glyphicon-pencil">Ver</a>
						</td>
					</tr>
		{% endfor %}
	</table>
</div>
</div>
<div id="popup">

</div>
	<script>
var modal;

function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 600,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>


{% endblock %}