{% extends 'base/base.html'%}

{% block title %} Gestion de Citas {% endblock %}

{% block encabezado %} Gestion de Citas {% endblock %}
{% block content %}
<h3>Citas</h3>
<div class="container">
	<div class="row">
	<a href="{% url 'citasyconsultas:nueva_cita' %}" class="btn btn-success" style="color:white; background-color:#33CC00">Nueva Cita</a>.

	<a href="{% url 'citasyconsultas:cobrar' %}" class="btn btn-success" style="color:white; background-color:#33CC00">Realizar Cobro</a>.

<!-- PARA MIENTRAS PONGO ESTE BOTON AQUI-->
	<a href="{% url 'citasyconsultas:citasParaHoy' %}" class="btn btn-success" style="color:white; background-color:#33CC00">Citas para Hoy</a>.
	<div><a href="{% url 'citasyconsultas:listado_expediente' %}" class="btn btn-success" style="color:white; background-color:#f6685e">Expedientes</a></div>.
	
	<a href="{% url 'citasyconsultas:buscar_exp' %}" class="btn btn-success" style="color:white; background-color:#33CC00">Buscar Expediente</a></a> 
	<div><br>
	<a onclick="return abrir_modal('{% url 'citasyconsultas:crear_consulta' %}', 'Crear consulta al paciente')" class="btn btn-success" style="color:white; background-color:#33CC00" value="Crear consulta">Crear Consulta</a>
    </div>

</div>
<br>
<div class="row text-center">
	<table  class="table table- stripped">
		<tr style="text-align: center">
			<th style="text-align: center">Numero de Cita</th>
			<th style="text-align: center">Fecha de Cita</th>
			<th style="text-align: center">Paciente</th>
            <th style="text-align: center">Hora</th>
            <th style="text-align: center">Razon de Consulta</th>
            <th style="text-align: center">Fecha de Creacion</th>
          
            

		</tr>
		{% for cit in citas %}
					<tr>
						<td>{{cit.numCit}}</td>
						<td>{{cit.fecCon}}</td>
						<td>{{cit.pacien}}</td>
						<td>{{cit.horCon}}</td>
						<td>{{cit.servic}}</td>
						<td>{{cit.fecCre}}</td>
						
						
						<td style="text-align:center;">
							<a href="#" onclick="return abrir_modal('{% url 'citasyconsultas:modificar_cita' cit.pk %}', 'Modificar Cita Numero: -->> {{ cit.numCit }}')" class="btn"><span class="glyphicon glyphicon-pencil">Editar</a>
						</td>

						<td style="text-align:center;">
							<a href="#" onclick="return abrir_modal('{% url 'citasyconsultas:cancelar_cita' cit.pk %}', 'Emiminar Cita numero {{ cit.numCit}}')" class="btn"><span class="glyphicon glyphicon-trash"></span>Cancelar</a>
						</td>

					
					</tr>
		{% endfor %}
	</table>
</div>
</div>
<div id="popup">

</div>
<script>
var modal;

function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 600,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});


</script>


{% endblock %}