<div >
    <div class="modal-content">

        <div class="modal-body">
					                     
			<table  class="table table-striped ">
				<thead>
					<tr style="text-align: center">
						<th style="text-align: center" scope="col">Nombre del Servicio</th>
						<th style="text-align: center" scope="col">Precio ($)</th>
					</tr>
				</thead>
				<tbody>
					{% for serv in listaServicios %}
						<tr>
							<td>{{serv.nomSer}}</td>
							<td>{{serv.precio}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
	

            </div>
                                        
            <div class="modal-footer">
                <div class="col-lg-500 text-right">
                    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" name="submit" value="Guardar">
                    
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#f6685e;color:white" onclick="return cerrar_modal()">Cancelar</button>
                </div>
            </div>
           
        </div>
</div>