<div class="modal-dialog modal-lg-4">
    <div class="modal-content">
        <div class="container">
    <div class="row">

        <form action=" {% url 'citasyconsultas:verCita' object.pk %}" method="post">

             <div class="modal-body">
                {% csrf_token %}
                <div class="mdl-dialog__content" align="center">
                    <h4> Ver Cita </h4>
                    


                            <label>Numero de cita:  {{ object.numCit }} </label>
                            <p></p>
                            <label>Fecha de cita:  {{ object.fecCon }}</label>
                            <p></p>
                            <label>Paciente:  {{ object.pacien }}</label>
                            <p></p>
                            <label>Hora de cita:  {{ object.horCon }}</label>
                            <p></p>
                             <label>Servicio:  {{ object.servic }}</label>
                            <p></p>
                            <label>Fecha de Solicitud:  {{ object.fecCre }}</label>
                            <p></p>
                            <label>Estado :  {{ object.estado }}</label>
                            <label> 0-> Activa,   1-> Finalizada</label>
                            <p></p>
                            
                  
            

     
        

                        
        <table/>

     
                </div>
            </div>
                    <div class="modal-footer">
                                            <div class="col-lg-8 text-right"> 

                   <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="return cerrar_modal()">Cerrar</button>
                        </div>

                    
            </div>

                </div>
            </div>
        </form>
    </div>
</div>
