
<div class="modal-dialog modal-lg-4">
    <div class="modal-content">
        <div class="container">
    <div class="row">

        <form action=" {% url 'citasyconsultas:ver_expediente' object.pk %}" method="post">

             <div class="modal-body">
      
                <div class="mdl-dialog__content" align="center">
                    <h4> Expediente del Paciente: {{object.nomPaciente}} {{object.apelPaciente}} </h4>
                    


                            <label>No. Expediente:  {{ object.numExpediente }} </label>
                            <p></p>
                            <label>Paciente: {{object.apelPaciente}}, {{ object.nomPaciente}}</label>
                            <p></p>
                            <label>Fecha de Nacimiento:  {{ object.fechaNacimiento }}</label>
                            <p></p>
                            <label>E-mail:  {{ object.emailPaciente }}</label>
                            <p></p>
                             <label>Direccion:  {{ object.depResidencia }}, {{object.munResidencia}}</label>
                          	<p></p>
                          	<label>Telefono:  {{ object.telefono }}</label>
                            <p></p>
                        
        <table/>

     
                </div>
            </div>
                    <div class="modal-footer">
                                            <div class="col-lg-8 text-right"> 

                   <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="return cerrar_modal()">Cerrar</button>
                        </div>

                    
            </div>

                </div>
            </div>
        </form>
    </div>
</div>
