
<div class="container">
<div>
    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="return cerrar_modal()" style="color:white; background-color:#f6685e">Cerrar</button>
</div>
<br>
   
    <h4>Paciente : {{expediente.nomPaciente}} {{expediente.apelPaciente}} </h4>
    <p> <label>No. Expediente:  {{ expediente.numExpediente }} </label></p>
    <p><label>E-mail :   {{ expediente.emailPaciente }}</label></p>
    <p><label>Direccion :   {{ expediente.depResidencia }}, {{expediente.munResidencia}}</label></p>
    <p><label>Telefono :   {{ expediente.telefono }}</label></p>
        
    <table  class="table" border="2">
        <tr style="text-align: center">
            <th style="text-align: center; color:black; background-color:#33CC00">Fecha de consulta</th>
            <th style="text-align: center; color:black; background-color:#33CC00">Servicios Brindados</th>
            <th style="text-align: center; color:black; background-color:#33CC00">Diagnostico</th>
            <th style="text-align: center; color:black; background-color:#33CC00">Medicamento</th>
            <th style="text-align: center; color:black; background-color:#33CC00">Dosis</th>
        </tr>
        {% for c in consultas %}
            <tr>
                <td>{{c.fecConHoy}}</td>
                <td>{{c.servicios.nomSer}}</td>
                <td>{{c.diagnostico}}</td>
                <td>{{c.medicamentos.nomMedcamento}}</td>
                <td>{{c.dosis}}</td>
            </tr>
        {% endfor %}
    </table>
</div>      
